<!DOCTYPE html>
<html>
<head>
  <title>PCSI</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3>Notes:</h3>
<ul>
  <li>
    To run tests, use the following commands:
    <pre>$ rspec spec
$ rake cucumber</pre>
  </li>
  <li>
    I got as far as story 3. The log specified in story 3 can be seen in the <code>product_quantity_adjustment</code> table.
  </li>
</ul>

<hr>

<%= yield %>

</body>
</html>
